
  :root{
    --bg1: #fff4dc;;
    --bg2: #fce6b7;;
    --accent: #fff4dc;
    --card: #ffffff;
    --muted: #666;
  }
  *{box-sizing:border-box}
  body{
    margin:0;
    font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: linear-gradient(135deg, var(--bg1), var(--bg2));
    min-height:100vh;
  }

  /* NAV */
  nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:64px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
    background: #cdeac0;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    z-index:1000;
    border-bottom-left-radius:12px;
    border-bottom-right-radius:12px;
  }
  .nav-left{display:flex;align-items:center;gap:12px;}
  .logo-img{height:44px;width:auto;border-radius:8px;display:block}
  nav ul{list-style:none;margin:0;padding:0;display:flex;gap:18px;align-items:center}
  nav a{color:var(--muted);text-decoration:none;font-weight:600}
  nav a:hover{color:var(--accent);}

  /* layout */
  .wrap{
    max-width:420px;
    margin:120px auto;
    padding:0 16px;
  }

  .card{
    background:var(--card);
    border-radius:20px;
    padding:34px;
    box-shadow: 0 18px 40px rgba(9,9,20,0.07);
    text-align:center;
  }

  h2{margin:0 0 18px 0;color:#444;font-size:22px}
  input{
    width:100%;
    padding:12px 14px;
    margin:9px 0;
    border-radius:10px;
    border:1px solid #efefef;
    background:#fafafa;
    font-size:15px;
    outline:none;
  }
  input:focus{box-shadow:0 6px 18px rgba(0,0,0,0.04)}

  button{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    cursor:pointer;
    font-weight:700;
    font-size:15px;
    margin-top:10px;
    background:linear-gradient(90deg,var(--accent),#cdeac0);
    color:rgb(255, 255, 255);
  }
  .link{
    margin-top:12px;
    font-size:14px;
    color:var(--muted);
  }
  .link span{color:var(--accent);cursor:pointer;font-weight:700}

  .hidden{display:none !important}

  .msg{
    margin-top:12px;
    font-size:14px;
    color:#cdeac0;
  }
  .error{color:#cdeac0; font-weight:700}
